<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Natxo. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Natxo_Moduloback::natxo_index_index" title="Natxo" module="Natxo_Moduloback"  sortOrder="20" dependsOnModule="Natxo_Moduloback" action="moduloback/index/index" resource="Natxo_Moduloback::natxo_index_index"/>
<!--AddMenu-->
    </menu>
</config>
