<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="natxo_moduloback_listing_data_source" xsi:type="string">Natxo\Moduloback\Model\ResourceModel\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Natxo\Moduloback\Model\ResourceModel\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">natxo_moduloback</argument>
            <argument name="resourceModel" xsi:type="string">Natxo\Moduloback\Model\ResourceModel\Content</argument>
        </arguments>
    </virtualType>
</config>